{% extends "base.askama.html" %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand mb-0 h1">
            <img class="d-inline-block align-top" src="https://derpicdn.net/img/2022/3/4/2818722/thumb.png" width="30"
                height="30" />
            MareWebsite
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/mares" class="nav-link active">
                        Mare table
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link disabled">
                        Bookhorses
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="shadow mb-5 bg-body-tertiary rounded">
        <table class="table align-middle">
            <thead class="table-dark">
                <th scope="col">Image</th>
                <th scope="col">Pony name</th>
                <th scope="col">Breed</th>
                <th></th>
            </thead>
            <tbody>
                <form action="/mares" method="post">
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-floating">
                                <input type="text" id="name" name="name" class="form-control" required maxlength="100"
                                    placeholder="Write pony name here" />
                                <label for="name" class="form-label">Pony name</label>
                            </div>
                        </td>
                        <td>

                            <select id="breed" name="breed" class="form-select">
                                <option value="earth">Earth</option>
                                <option value="pegasus">Pegasus</option>
                                <option value="unicorn">Unicorn</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-success btn-md" type="submit">Submit</button>
                        </td>
                    </tr>
                </form>
                {% for pony in ponies %}
                <tr>
                    <td>
                        <a href="/mares/{{ pony.id }}/image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-card-image" viewBox="0 0 16 16">
                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                                <path
                                    d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z">
                                </path>
                            </svg>
                        </a>
                    </td>

                    <td>
                        {{ pony.name }}
                    </td>

                    <td>{{ pony.breed }}</td>

                    <td>
                        <div class="btn-group">
                            <form method="get" action="/mares/{{ pony.id }}">
                                <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center pb-3">
            <a href="/mares/page/1/next/0" class="btn btn-success" role="button">Paged table</a>
        </div>
    </div>
</div>
{% endblock content %}
